.video-list-item {
    list-style: none;
    padding: 12px;
    margin: 4px;
    width: 390px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    background: 0 0;
    background-color: #0f0d0d;
    border-bottom: solid 1px rgba(255,255,255,.08);
  }
 
  .video-list-item:hover {
    color: #ff0000;
   
  }

  .video-list-item.selected {
    background: rgba(255,255,255,.1);
    border-bottom: solid 1px rgba(255,255,255,.08);
  }

  .video-title {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
  }